@using MvcLearning.Data.Entities
@model Bucket;
@{
	ViewData["Title"] = "Bucket";
}
		<h3>Bucket</h3>
@if (Model.Products.Count == 0)
{
	<p>Bucket is empty</p>
}
else
{
	<div>
		@foreach (var product in Model.Products!)
		{
			<div>
				<h3>@product.Name</h3>
				<p>@product.Description</p>	
				<p>Price: @product.Price.ToString("C")</p>
				<p>Shop: @product.Shop?.Name</p>
				<a asp-action="Details" asp-controller="Product" asp-route-productId="@product.Id">View Details</a>
			</div>
		}
		@* <p>Total Price: @Model.TotalPrice.ToString("C")</p>
		<p>Total Count: @Model.TotalCount</p> *@
	</div>
}
		<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back</a>